# Basic Reachy
reachy-sdk
pyquaternion
# TTS
pyttsx3
# Basic packages
numpy
scipy

# Audio
pydub
pyaudio
# ReachyAudioMicArrayFeatures
gtts
pyusb
# reachyAudioAnswering 
nltk
torch

# reachyAudioSpeechRecognition
SpeechRecognition

simpleaudio